<div class="row justify-content-center m-3">
  <div class="col col-md-6">
    <div class="card border-primary">
      <div class="card-header">
        <%= t('.header', title: @test_passage.test.title ) %>
      </div>

      <div class="card-body">

        <h5 class="card-title">
          <%= @test_passage.current_question.body %>
        </h5>

        <%= form_with url: test_passage_path(@test_passage), local: true, method: :put, html: { id: 'form-test-passages'} do |form| %>

          <div Ñlass="form-group">

            <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body, include_hidden: false do |b| %>
              <div class="form-check">
                <%= form.label "answer_ids_#{b.object.id}", class: 'form-check-label' do %>
                  <%= b.check_box id: "answer_ids_#{b.object.id}", class: 'form-check-input' %>
                  <%= b.object.body %>
                <% end %>



              </div>
            <% end %>

            <p class="card-text"><%= link_to 'Gist Question', gist_test_passage_path(@test_passage), method: :post %></p>
            <p class="card-text"><%= form.submit t('.next'), class: 'btn btn-primary' %></p>

          </div>
        <% end %>

      </div>

      <div class="card-footer text-muted">
        <div class="progress">
          <%= content_tag :div,
                          0,
                          class: 'progress-bar',
                          role:   'progressbar',
                          'aria-valuenow': '0',
                          'aria-valuemax': '100',
                          style: "width: 0%",
                          data: { number_current_question: @test_passage.number_current_question, question_count: @test_passage.test.questions.count }
          %>
        </div>

        <%= t('.questions_info',  number_current_question: @test_passage.number_current_question, question_count: @test_passage.test.questions.count) %>

        <% if @test_passage.test.passing_time? %>
          <div>
            <%= content_tag :p, "", class: "timer-bar", data: { end_time: @test_passage.end_time, test_passage_id: @test_passage.id} %>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>