<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to 'Test Guru', root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to t('.menu_admin'), admin_tests_path, class: 'nav-link' if current_user&.admin? %>
        </li>
        <li class="nav-item">
          <%= link_to t('.menu_badges'), badges_path, class: "nav-link #{'active' if controller_name == 'badges'}" %>
        </li>
      </ul>
    </div>

    <span class="navbar-text">
      <% if user_signed_in? %>
        <%= t('.welcome') %> <b><%= current_user.email %></b> Guru |
        <%= link_to t('.logout'), destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "#{t('.sign_in')}", new_user_session_path unless current_page?(new_user_session_path) %>
        <%= '|' if current_page?(new_user_session_path) && current_page?(new_user_registration_path) %>
        <%= link_to "#{t('.sign_up')}", new_user_registration_path unless current_page?(new_user_registration_path) %>
      <% end %>
    </span>
  </div>
</nav>