<h1><%= t('.header') %></h1>

<%= link_to t('helpers.shared.links.back'), admin_question_path(@answer.question) %>

<p>
  <%= @answer.question.body %>
</p>

<%= render 'form', answer: @answer %>

<%= link_to t('helpers.shared.links.show'), [:admin, @answer] %>
