<tr>
  <td class="align-middle">
    <%= content_tag :span, test.title, class: 'test-title', data: { test_id: test.id } %>
    <%= render 'form_inline', test: test == @test ? @test : test %>
  </td>
  <td class="align-middle"><%= test.category.title %></td>
  <td class="align-middle"><%= test.level %></td>
  <td class="align-middle"><%= test.author.present? ? test.author.name : '-' %></td>
  <td class="align-middle"><%= test.questions.count %></td>
  <td class="align-middle"><%= test.passing_time ? test.passing_time : '-' %></td>
  <td class="align-middle"><%= link_to t('helpers.shared.links.show'), admin_test_path(test), class: 'btn btn-primary' %></td>
  <td class="align-middle">
    <%= link_to t('helpers.shared.links.edit'),
                edit_admin_test_path(test),
                data: {test_id: test.id},
                class: 'btn btn-primary form-inline-link'
    %>
    <%= link_to t('helpers.shared.links.cancel'),
                'edit_admin_test_path(test)',
                data: {test_id: test.id},
                class: 'btn btn-primary form-inline-link',
                style: 'display: none'
    %>
  </td>
  <td class="align-middle">
    <%= link_to t('helpers.shared.links.delete'),
                admin_test_path(test),
                method: :delete,
                data: { confirm: t('.confirm_delete') }, class: 'btn btn-primary' %>
  </td>
</tr>