<div class="row justify-content-center m-3">
  <h1><%= t('.header') %></h1>

  <%= render 'shared/errors', resource: @test %>

  <table class="table table-striped">
    <tr>
      <th class="sort-by-title pointer">
          <%= t('.title') %>
          <%= octicon 'arrow-up', class: 'text-success hide' %>
          <%= octicon 'arrow-down', class: 'text-success hide' %>
      </th>
      <th><%= t('.category') %></th>
      <th><%= t('.level') %></th>
      <th><%= t('.author') %></th>
      <th><%= t('.questions_count') %></th>
      <th><%= t('.passing_time') %></th>
      <th colspan="3"><%= t('.actions') %></th>
    </tr>
    <%= render @tests %>
  </table>

  <%= link_to t('helpers.shared.links.add_test'), new_admin_test_path(@test) %>
</div>