<div class="row justify-content-center m-3">
  <h1><%= t('.header', title: @test.title ) %></h1>

  <table class="table table-striped">
    <tr>
      <th><%= t('.category') %></th>
      <th><%= t('.level') %></th>
      <th><%= t('.author') %></th>
    </tr>
    <tr>
      <td><%= @test.category.title %></td>
      <td><%= @test.level %></td>
      <td><%= @test.author.present? ? @test.author.name : '-' %></td>
    </tr>
  </table>

  <h2><%= t('.questions.header') %></h2>

  <table class="table table-striped">
    <tr>
      <th><%= t('.questions.body') %></th>
      <th colspan="4"><%= t('.questions.actions') %></th>
    </tr>
    <%= render @test.questions %>
  </table>
</div>

<div class="row m-3">
  <div class="col-sm-6"></div>
  <div class="col-sm-6">
    <div class="btn-group float-end" role="group">
      <%= link_to t('helpers.shared.links.back'), admin_tests_path, class: 'btn btn-outline-primary' %>
      <%= link_to t('helpers.shared.links.edit_test'), edit_admin_test_path(@test), class: 'btn btn-outline-primary' %>
      <%= link_to t('helpers.shared.links.add_question'), new_admin_test_question_path(@test), class: 'btn btn-outline-primary' %>
    </div>
  </div>
</div>