<h1>Test &laquo;<%= @test.title %>&raquo;</h1>

<table>
  <tr>
    <th>Category</th>
    <th>Level</th>
    <th>Author</th>
  </tr>
  <tr>
    <td><%= @test.category.title %></td>
    <td><%= @test.level %></td>
    <td><%= @test.author.name %></td>
  </tr>
</table>

<h2>Questions:</h2>

<table>
  <tr>
    <th>Body</th>
    <th colspan="4">Actions</th>
  </tr>
  <%= render @test.questions %>
</table>

<%= link_to 'Back', tests_path %>
<%= link_to 'Add new question', new_test_question_path(@test) %>